- if model.granted && params[:amend]
  = render :partial => "fip_request_amend_form", :locals => { :model => model, :form => form }
- else
  = render :partial => "fip_request_normal_form", :locals => { :model => model, :form => form }