%a.to-detail{:href => granted_request_path(model)}
  %h2= model.name
  %h4= [dollars_format(model.granted ? model.amount_recommended : model.amount_requested), mdy_date_format(model.request_received_at), (model.program ? model.program.name : '')].compact.join(' | ')
  %h4= model.grant_or_request_id
  %p= model.project_summary
